<section class="phx-hero">
  <h1>Welcome to Elixir Saigon!</h1>
  <p>Small Phoenix LiveView applicaiton for demo.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Choose a stock list LiveView</h2>
    <ul>
      <li>
        <a href="/dynamic_list">Dynamic list</a>
      </li>
      <li>
        <a href="/fix_list">Fix list</a>
      </li>
      <li>
        <a href="/custom_list">Custom list</a>
      </li>
    </ul>
  </article>
</section>
